@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid white;
    background-color: rgb(138, 21, 248);
    color: white;
}
nav{
    width:25%;
    font-size: 100%;
    text-align: center;
}
nav>ul{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
}
img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
li{
    margin-top: 10px;
}
#ajustando{
    margin-left: 5%;
}
.ajustar{
    margin-left: -2%;
}
a{
    text-decoration: none;
    color: white;
}
#seccao1{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(138, 21, 248);
}
#conteudo{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}
#conteudo>h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: justify;
}
#conteudo>p{
    background-color: white;
    color: black;
    margin-top: -20%;
}
#imagem{
    width: 30%;
    height: 450px;
    border-radius: 40px;
    background-color: rgb(137, 43, 226);
}
#imagem>img{
    width: 115%;
    height: 100%;
}
#componentes{
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    font-size: 85%;
    justify-content: space-evenly;
    background-color: aliceblue;
}
#componentes>section{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    background-color: white;

}
#componentes>section>h1,p{
    text-align: center;
}
#seccao3{
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}
#seccao3>h1{
    margin-left: -65%;
    margin-top: 25px;
    font-size: large;
}
.elementos{
    width: 80%;
    height: 350px;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}
.imagens{
    width: 23%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.imagens>section{
    width: 100%;
    height: 200px;
    display: flex;
    border-radius: 10px;
    background-color: white;
}
.imagens>section>img{
    width: 80%;
    height: 180px;
}
.elementos button{
    width: 120px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0px 0px 0px 15px;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 450px;
    background-color: aliceblue;

}
#informacao{
    display: flex;
    width: 90%;
    height: 250px;
    justify-content: space-between;
    margin: auto;
    border-top: 1px solid black;
}
#informacao>section{
    width: 22%;
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
    justify-content: space-around;
}
#informacao>section>a{
    color: black;
}
#informacao p{
    text-align: justify;
}
#informacao input,textarea{
    width: 100%;
    height: 30px;
    border: none;
}
#informacao button{
    margin-left: -70%;
    width: 30%;
    height: 40px;
    background-color: blueviolet;
    color: white;
    border: none;
}
#ajustar1{
    padding-top: 10px;
    margin-bottom: 90px;
    border-top: 1px solid black;

}

@media(max-width: 750px){
    nav li:nth-child(3){
        display: none;
    }
    #conteudo{
        display: none;
    }
    #seccao1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav{
        width:25%;
        font-size: 40%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    img{
        width: 25%;
        height: 25%;
        margin-left: 20px;
    }
    li{
        margin-top: 12%;
    }
    #imagem{
        margin: 0px;
        width: 60%;
    }
    #imagem>img{
        width: 115%;
    }
    #seccao3{
        width: 100%;
        display: flex;
        height: 90%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: aliceblue;
    }
    #seccao3>h1{
        font-size: 100%;
    }
    .elementos{
        width: 80%;
        height: 30%;
        display: flex;
        margin-bottom: 50px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .elementos>section{
        width: 140px; 
    }
    .elementos button{
        width: 100px;
        border-radius: 50px;
        border: 1px solid black;
        margin: 0px 0px 0px 15px;
    }
    #componentes{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 650px;
        font-size: small;
    }
    #componentes>section{
        width: 50%;
    }
    footer{
        height: 900px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #informacao{
        height: 850px;
        width: 80%;
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }
    #informacao>section{
        width: 50%;
        text-align: center;
    }
    #informacao>section{
        height: 280px;
    }
    #ajustar1{
        font-size: 80%;
        width: 80%;
    }
}